@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #4a4a4a;
  background: #f5f5f5;
}

.en {
  font-family: "Alata", sans-serif;
}

img {
  width: 100%;
}

/* --------------------------
  カーソル
--------------------------- */
.cursor {
  pointer-events: none;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.cursor__ball--big circle {
  fill: #171717a8;
}

.cursor__ball--small circle {
  fill: #00ff00;
}

/* --------------------------
  ロード画面
--------------------------- */
#loader {
  position: fixed;
  inset: 0;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;

  opacity: 1;
  transition: opacity 0.8s ease;
}

#loader.hide {
  opacity: 0;
  pointer-events: none;
}

.wrapper {
  height: fit-content;
}

.typing {
  color: #00f066;
  line-height: 90px;
  letter-spacing: 0.05em;
  font-size: 100px;
  font-weight: bold;
  font-family: "Alata", sans-serif;
}

@media screen and (max-width: 850px) {
  .typing {
    font-size: 60px;
  }
}

/* --------------------------
  header
--------------------------- */
header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background: #f5f5f582;
  transition: transform 0.3s ease;
}

header.hidden {
  transform: translateY(-100%);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 30px;
}

h1 {
  line-height: 0;
}

h1 a {
  display: inline-block;
}

.logo__img {
  width: 300px;
}

.header-nav__list {
  display: flex;
}

.header-nav__link {
  margin: 0 20px;
  padding: 8px;
  font-size: 24px;
  color: #4a4a4a;
  letter-spacing: 0.02rem;
}

.header-nav__link:hover {
  color: #00f066;
}

@media screen and (max-width: 850px) {
  .header__wrap {
    padding: 0 16px;
  }

  .header-nav__list {
    display: none;
  }
}

/* --------------------------
  main
--------------------------- */
.bg_pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

.Polka {
  background-image: radial-gradient(#dedede 2px, #f5f5f5 2px);
  background-size: 10px 10px;
}

/* --------------------------
  共通部分
--------------------------- */
/* タイトル */
h2 {
  font-size: 16px;
  font-weight: normal;
}

.section__sub {
  padding: 0 0 40px 0;
  font-size: 62px;
  line-height: 62px;
  font-weight: bold;
  color: #00f066;
  font-family: "Alata", sans-serif;
}

/* 丸タイトル */
.block__title {
  width: fit-content;
  padding: 0 40px 6px;
  font-size: 24px;
  border-radius: 50vh;
  border: 1.5px solid #a8a8a8;
}

/* ブロック */
.block__wrap {
  max-width: 1000px;
  margin: 16px auto;
}

.block__item {
  padding: 22px 22px 40px;
  background: #f9f9f9;
  border: 1.5px solid #a8a8a8;
  border-radius: 50px;
}

/* --------------------------
  about
--------------------------- */
#about {
  padding: 180px 20px 80px;
}

.about__text {
  padding: 0 30px;
}

.name {
  font-size: 40px;
  margin: 0 0 10px 0;
  letter-spacing: 0.1rem;
}

/* --------------------------
  about more
--------------------------- */
.about__more {
  margin: 24px auto;
  text-align: end;
}

.about__btn {
  display: inline-block;
  width: 180px;
  margin: 0 16px 0 0;
  text-align: center;
}

.about__btn .block__title {
  width: auto;
  background: #f5f5f5;
}

.about__btn .block__title:hover {
  background: #4a4a4a;
  color: #00f066;
}

.about__more .popup__detail {
  text-align: initial;
}

.about__more .detail__text {
  padding: 0 0 8px 16px;
}

@media screen and (max-width: 850px) {
  #about {
    padding: 150px 20px 80px;
  }
}

/* --------------------------
  skills
--------------------------- */
#skills {
  padding: 100px 20px 300px;
  background: #4a4a4a;
  border-radius: 100px 100px 0 0;
}

#skills h2 {
  color: #fff;
}

.skills__main {
  display: flex;
  gap: 16px;
}

.skill__dev {
  width: 80%;
}

.skill__title {
  position: relative;
  padding: 24px 0 8px 40px;
  font-size: 24px;
}

.skill__title::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50vh;
  background: #00f066;
  border: 1.5px solid #4a4a4a;
}

@media screen and (max-width: 850px) {
  #skills {
    padding: 100px 16px 300px;
    border-radius: 60px 60px 0 0;
  }

  .skills__main {
    display: initial;
  }

  .skill__title {
    padding: 24px 0 8px 30px;
    font-size: 20px;
  }

  .skill__title::after {
    content: "";
    left: 0;
    width: 16px;
    height: 16px;
  }

  .skill__dev {
    width: 100%;
    margin: 0 auto 16px;
    padding: 22px 22px 40px;
  }
}

/* --------------------------
  works
--------------------------- */
#works {
  margin: -200px 0 0 0;
  padding: 100px 20px 80px;
  background: #f5f5f5;
  border-radius: 100px 100px 0 0;
}

.works__main {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 850px) {
  #works {
    border-radius: 60px 60px 0 0;
  }
}

/* --------------------------
  works item
--------------------------- */
.item {
  display: contents;
}

.item__popup {
  width: calc((100% - 16px) / 2);
  padding: 24px;
  text-align: center;
  transition: 0.2s;
}

.item__popup:hover .works__img {
  transform: scale(1.02);
}

.works__img {
  display: block;
  width: 90%;
  margin: 0 auto;
  transition: transform 0.4s ease;
}

.works__text {
  font-size: 20px;
}

@media screen and (max-width: 850px) {
  .item__popup {
    width: 100%;
  }
}

/* --------------------------
  popup
--------------------------- */
.popup-flag {
  display: none;
}

.popup-flag:not(:checked) ~ .popup-background,
.popup-flag:not(:checked) ~ .popup {
  display: none;
}

.popup-background {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #949494;
  opacity: 0.5;
}

.popup {
  width: 80%;
  max-width: 1200px;
  min-width: 780px;
  height: 90%;
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 101;
  background: #f9f9f9;
  border-radius: 50px;
  border: 1.5px solid #4a4a4a;
}

.popup__inner {
  height: 100%;
  padding: 24px;
  overflow: scroll;
}

.popup__inner::-webkit-scrollbar {
  display: none;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50vh;
  background: #a8a8a8;
  border: 1.5px solid #4a4a4a;
}

.close-button::before,
.close-button::after {
  content: "";
  width: 60%;
  height: 1.5px;
  background: #4a4a4a;
  position: absolute;
  top: 50%;
  left: 12px;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background: #4a4a4a;
}

.close-button:hover::before,
.close-button:hover::after {
  background: #00f066;
}

.popup .works__img {
  width: 70%;
}

.detail__main {
  text-align: center;
  font-size: 18px;
}

.popup__detail {
  padding: 50px;
}

.detail__item {
  margin: 0 0 24px 0;
  padding: 0 0 34px 0;
  border-bottom: 3px dotted #a8a8a8;
}

.detail__item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.detail {
  display: inline-block;
  line-height: 36px;
  margin: 0 0 24px 0;
  padding: 0 24px;
  font-size: 18px;
  border-radius: 50vh;
  color: #fff;
  background: #a8a8a8;
}

.year {
  letter-spacing: 0.15em;
}

.detail__text {
  padding: 0 0 0 16px;
  font-size: 18px;
}

.detail__text a {
  color: #00f066;
}

.detail__note {
  padding: 0 0 0 30px;
  line-height: 1.8;
}

.detail__sub {
  position: relative;
  padding: 24px 0 8px 40px;
  font-size: 18px;
}

.detail__sub::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50vh;
  border: 1.5px solid #4a4a4a;
}

.detail_img {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.detail_img .works__img:first-child {
  max-width: 65%;
}

.detail_img .works__img:last-child {
  max-width: 30%;
}

@media screen and (max-width: 850px) {
  .popup {
    width: 90%;
    min-width: inherit;
    border-radius: 40px;
  }

  .popup__inner {
    padding: 16px;
  }

  .popup__detail {
    padding: 30px 0;
  }

  .detail__item {
    padding: 0 0 24px 0;
  }

  .detail__main {
    font-size: 16px;
  }

  .detail {
    line-height: 32px;
    font-size: 16px;
  }

  .detail__text {
    padding: 0 0 0 8px;
    font-size: 16px;
  }

  .detail__note {
    font-size: 14px;
  }

  .detail__sub {
    padding: 24px 0 8px 28px;
    font-size: 16px;
  }

  .detail__sub::after {
    left: 4px;
    width: 14px;
    height: 14px;
  }

  .close-button {
    top: 16px;
    right: 16px;
    width: 44px;
    height: 44px;
  }

  .close-button::before,
  .close-button::after {
    content: "";
    left: 8px;
  }
}

/* --------------------------
contact
--------------------------- */
#contact {
  margin: 0 auto;
  padding: 50px 24px;
  background: #4a4a4a;
  color: #fff;
}

#contact .section__sub {
  color: #fff;
}

#contact .block__wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.email {
  color: #00f066;
  text-decoration: underline;
  font-size: 38px;
  font-family: "Alata", sans-serif;
}

@media screen and (max-width: 850px) {
  #contact .block__wrap {
    display: initial;
  }

  .email {
    font-size: 20px;
  }
}

/* --------------------------
footer
--------------------------- */
footer {
  padding: 38px 24px 8px;
  background: #4a4a4a;
}

.footer-copyright {
  text-align: right;
  color: #fff;
  font-size: 12px;
}
